<h1>Updater</h1>
<br>
<h2>Add currency</h2>

<p>Enter currency name</p>
<input (keyup)="updateName($event)">

<p aria-live="polite">Current name: <strong>{{ currencyName }}</strong></p>

<p>Enter currency code</p>
<input (keyup)="updateCode($event)">

<p aria-live="polite">Current code: <strong>{{ currencyCode }}</strong></p>
<button class="btn btn-primary" (click)="addCurrency()">Add</button>
<p>Result: {{updatedCode}}</p>
<br>
<h2>Change rate</h2>
<h5>Select currency from which to convert</h5>
<select class="custom-select" [(ngModel)]="selectedCurrency1">
  <option selected>Currency</option>
  <option *ngFor="let currency of currencies">{{currency}}</option>
</select>
<p>You selected: {{selectedCurrency1}}</p>
<br>
<h5>Select currency to which convert</h5>
<select class="custom-select" [(ngModel)]= selectedCurrency2>
  <option selected>Currency</option>
  <option *ngFor="let currency of currencies">{{currency}}</option>
</select>

<p>You selected: {{selectedCurrency2}}</p>
<br>
<p>Enter rate</p>
<input (keyup)="updateRate($event)">
<p>Current rate: {{currentRate}}</p>
<br>
<button class="btn btn-primary" (click)="addRate()">Add</button>
<p>Result: {{updatedRate}}</p>
