<h1>Convert</h1>

<p>Enter sum</p>
<input (keyup)="updateSum($event)">

<p aria-live="polite">Current sum: <strong>{{ currentSumm }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
<br>
<button class="btn btn-primary" (click)="decrementCounter()">Decrement</button>

<h5>Select currency from which to convert</h5>
<select class="custom-select" [(ngModel)]="selectedCurrency1">
  <option selected>Currency</option>
  <option *ngFor="let currency of currencies">{{currency}}</option>
</select>
<p>You selected: {{selectedCurrency1}}</p>
<br>
<h5>Select currency to which convert</h5>
<select class="custom-select" [(ngModel)]= selectedCurrency2>
  <option selected>Currency</option>
  <option *ngFor="let currency of currencies">{{currency}}</option>
</select>
<p>You selected: {{selectedCurrency2}}</p>
<br>
<button class="btn btn-primary" (click)="convert()">Convert</button>
<p>Result: {{converted}}</p>
