<h1 id="tableLabel">Currency Exchange</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!currencies"><em>Loading...</em></p>
<p>Select currency</p>
<select class="custom-select" [(ngModel)]="code">
  <option selected>Currency</option>
  <option *ngFor="let currency of currencies">{{currency}}</option>
</select>

<br>
<p aria-live="polite">Current code: <strong>{{ code }}</strong></p>
<button class="btn btn-primary" (click)="GetRates()">Get rates</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="rates">
  <thead>
    <tr>
      <th>Rate</th>
      <th>Currency</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rate of rates">
      <td>{{ rate.kurss }}</td>
      <td>{{ rate.codeTo }}</td>
    </tr>
  </tbody>
</table>
